{% extends 'base.html.twig' %}

{% block title %}New Reader{% endblock %}

{% block body %}
    <h1>Create new Reader</h1>

    {{ include('reader/_form.html.twig') }}

    <a href="{{ path('app_reader_index') }}">back to list</a>
{% endblock %}
